* {
  margin: 0;
  padding: 0;
}

html,
body {
	margin: 0;
}

#container {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

#control {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
